AntarcticTest.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>ODF Newsletters ODD</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-03-21-04:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
          <schemaSpec ident="antarctic_test" start="TEI teiCorpus" source="teipublisher.odd">
      <moduleRef key="analysis" include="interp interpGrp span"/>
      <moduleRef key="core" except="binaryObject divGen headItem headLabel"/>
      <moduleRef key="corpus" include="particDesc"/>
      <moduleRef key="figures" except="formula notatedMusic"/>
      <moduleRef key="gaiji" include="g"/>
      <moduleRef key="header"/>
      <moduleRef key="linking" include="ab anchor link seg"/>
      <moduleRef key="tagdocs" include="att code gi ident"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
      <moduleRef key="transcr" include=""/>
      <moduleRef key="namesdates" include="listRelation listPlace listPerson persName placeName orgName roleName personGrp geo affiliation age birth death education nationality location relation occupation person place org state"/>
      <!--make xml_:id required on person and place-->
      <elementSpec ident="place" module="namesdates" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="person" module="namesdates" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <!--make @ref attribute required on <persName>, <placeName>, <orgName>, and <rs>-->
      <elementSpec ident="persName" module="namesdates" mode="add">
        <model behaviour="inline" output="web">
            <outputRendition>
                color: gray;
            </outputRendition>
        </model>
      </elementSpec>
      <elementSpec ident="placeName" module="namesdates" mode="change">
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="orgName" module="namesdates" mode="change">
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <!--closed list on @type of <rs>-->
      <elementSpec ident="rs" mode="change" module="core">
        <attList>
          <attDef ident="ref" mode="change" usage="req"/>
          <attDef ident="type" mode="replace" usage="req">
            <datatype>
              <dataRef key="teidata.enumerated"/>
            </datatype>
            <valList type="closed">
              <valItem ident="person"/>
              <valItem ident="place"/>
              <valItem ident="org"/>
            </valList>
          </attDef>
        </attList>
      </elementSpec>
      <!--@type attribute required on <div>-->
      <elementSpec ident="div" module="textstructure" mode="change">
        <attList>
          <attDef ident="type" mode="change" usage="req"/>
        </attList>
        <model behaviour="inline">
            <outputRendition>
                font: "Courier New", "Courier", Times, sans-serif;
            </outputRendition>
        </model>
      </elementSpec>
      <!--@facs and @n attributes required on <pb/>-->
      <elementSpec ident="pb" module="core" mode="change">
        <model behaviour="omit"/>
        <attList>
          <attDef ident="facs" mode="change" usage="req"/>
          <attDef ident="n" mode="change" usage="req"/>
        </attList>
      </elementSpec>
      <elementSpec ident="lb" module="core" mode="change">
        <model behaviour="omit"/>
      </elementSpec>
    </schemaSpec>

        </body>
    </text>
</TEI>
