ODD/AntarcticDraft.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Preliminary Schema For Antarctic Project</title>
      </titleStmt>
      <publicationStmt>
        <p>unpublished</p>
      </publicationStmt>
      <sourceDesc>
        <p>InternFSU Digital Publishing Internship</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="antarctic_test" start="TEI">
        <moduleRef key="analysis" include="interp interpGrp span"/>
        <moduleRef key="core" except="binaryObject divGen headItem headLabel"/>
        <moduleRef key="corpus" include="particDesc"/>
        <moduleRef key="figures" except="formula notatedMusic"/>
        <moduleRef key="gaiji" include="g"/>
        <moduleRef key="header"/>
        <moduleRef key="linking" include="ab anchor link seg"/>
        <moduleRef key="tagdocs" include="att code gi ident"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="transcr" include="fw"/>
        <moduleRef key="namesdates" include="listRelation listPlace listPerson persName placeName orgName roleName personGrp geo affiliation age birth death education nationality location relation occupation person place org state"/>
        <!--make xml_:id required on person and place-->
        <elementSpec ident="place" module="namesdates" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="person" module="namesdates" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <!--make @ref attribute required on <persName>, <placeName>, <orgName>, and <rs>-->
        <elementSpec ident="persName" module="namesdates" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="placeName" module="namesdates" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="orgName" module="namesdates" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <!--closed list on @type of <rs>-->
        <elementSpec ident="rs" mode="change" module="core">
          <attList>
            <attDef ident="ref" mode="change" usage="req"></attDef>
            <attDef ident="type" mode="replace" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed">
                <valItem ident="person"></valItem>
                <valItem ident="place"></valItem>
                <valItem ident="org"></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!--@type attribute required on <div>-->
        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <!--@facs and @n attributes required on <pb/>-->
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="facs" mode="change" usage="req"></attDef>
            <attDef ident="n" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
