ODD/AntarcticTest.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODF Newsletters ODD for exist-db</title>
      </titleStmt>
      <publicationStmt>
        <publisher>eXistSolutions GmbH</publisher>
        <availability>
          <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU
            General Public License</licence>
          <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
          </p>
          <p>This program is free software: you can redistribute it and/or modify it under the terms
            of the GNU General Public License as published by the Free Software Foundation, either
            version 3 of the License, or (at your option) any later version.</p>
          <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY
            WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
            PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
        </p>
        <p>born digital</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2018-03-21-04:00">Initial version</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="antarctic_test" start="TEI teiCorpus" source="teipublisher.odd">
        <moduleRef key="analysis" include="interp interpGrp span"/>
        <moduleRef key="core" except="binaryObject divGen headItem headLabel"/>
        <moduleRef key="corpus" include="particDesc"/>
        <moduleRef key="figures" except="formula notatedMusic"/>
        <moduleRef key="gaiji" include="g"/>
        <moduleRef key="header"/>
        <moduleRef key="linking" include="ab anchor link seg"/>
        <moduleRef key="tagdocs" include="att code gi ident"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="transcr" include="fw"/>
        <moduleRef key="namesdates" include="listRelation listPlace listPerson persName placeName orgName roleName personGrp geo affiliation age birth death education nationality location relation occupation person place org state"/>
        <elementSpec ident="ab" module="core" mode="change">
            <modelGrp>
            <model behaviour="block" predicate=".[@type eq 'section-head']">
                <outputRendition>
                    font-family: "Courier New", Courier, monospace;
                    text-align: center;
                    font-size: 1.2 em;
                    text-decoration: underline;
                    padding-bottom: 10px;
                </outputRendition>
            </model>
            <model behaviour="block">
                <outputRendition>
                    font-family: "Courier New", Courier, monospace;
                    margin-bottom: 10px;
                    clear: both;
                </outputRendition>
            </model>
            </modelGrp>
        </elementSpec>
        <elementSpec ident="bibl" module="core" mode="change">
            <model behaviour="block"/>
        </elementSpec>
        <elementSpec ident="choice" mode="change">
            <model predicate="sic and corr" behaviour="alternate">
                <param name="default" value="corr"/>
                <param name="alternate" value="sic"/>
            </model>
        </elementSpec>
        <elementSpec ident="date" module="namesdates" mode="change">
            <model behaviour="inline" predicate=".[ancestor::div[@type eq 'nameplate']]">
                <outputRendition>
                    float: right;
                    display: inline-block;
                </outputRendition>
            </model>
        </elementSpec>
        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req"/>
          </attList>
            <model behaviour="block" predicate=".[@type eq 'article']">
                <outputRendition>
                    padding-bottom: 15px;
                </outputRendition>
            </model>
        </elementSpec>
        <elementSpec ident="fw" module="transcr" mode="change">
          <modelGrp>
            <model behaviour="block" predicate=".[@type eq 'header']">
            <outputRendition>
                text-align: left;
                text-decoration: underline;
                font-family: "Courier New", Courier, monospace;
                padding-bottom: 10px;
            </outputRendition>
          </model>
          <model behaviour="block">
            <outputRendition>
                text-align: center;
                font-family: "Courier New", Courier, monospace;
            </outputRendition>
          </model>
          </modelGrp>
        </elementSpec>
        <elementSpec ident="head" module="core" mode="change">
            <model behaviour="block">
                <outputRendition>
                    font-family: "Courier New", Courier, monospace;
                    font-size: 1.7em;
                    padding-bottom: 10px;
                    text-align: center;
                </outputRendition>
             </model>
        </elementSpec>
        <elementSpec ident="lb" module="core" mode="change">
            <model behaviour="omit"/>
        </elementSpec>
        <elementSpec ident="num" module="core" mode="change">
            <model behaviour="inline" predicate=".[ancestor::div[@type eq 'nameplate']]">
                <outputRendition>
                    float: left;
                    display: inline-block;
                    padding-right: 15px;
                </outputRendition>
            </model>
        </elementSpec>
        <elementSpec ident="orgName" module="namesdates" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="p" module="core" mode="change">
          <model behaviour="block">
            <outputRendition>
                font-family: "Courier New", Courier, monospace;
                margin-bottom: 10px;
                clear: both;
            </outputRendition>
          </model>
        </elementSpec>
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="facs" mode="change" usage="req"/>
            <attDef ident="n" mode="change" usage="req"/>
          </attList>
          <model behaviour="omit"/>
        </elementSpec>
        <elementSpec ident="placeName" module="namesdates" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="persName" module="namesdates" mode="add">
          <attList>
            <attDef ident="ref" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="person" module="namesdates" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="place" module="namesdates" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="rs" mode="change" module="core">
          <attList>
            <attDef ident="ref" mode="change" usage="req"/>
            <attDef ident="type" mode="replace" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed">
                <valItem ident="person"/>
                <valItem ident="place"/>
                <valItem ident="org"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
